.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 20px 0;
  font-size: 18px;
  line-height: 1.2;
  color: #fff;
  z-index: 10;
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;

  &.sticky {
    background-color: #fff;
    color: $text;
    box-shadow: 0 6px 4px -4px rgba(0, 0, 0, .2);

    .logo__color {
      fill: $text;
    }

    .header__btn {
      background-color: $accent;
      border-color: transparent;
    }

    .location__button {
      color: $text;
    }

    .header__link {

      &--favor {
        background-color: $accent;
      }

      &--search::before,
      &--phone::before {
        background-color: $text;
      }

    }
  }

  &__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 60px;
  }

  &__left {
    display: flex;
    align-items: center;
  }

  &__center,
  &__right {
    .header__link:not(:last-child){
      margin-right: 30px;
    }
  }

  &__right {
    display: flex;
    align-items: center;
  }

  &__location {
    margin-right: 25px;
  }

  &__link {
    display: inline-block;
    transition: background-color 0.5s ease-in-out;

    &--favor {
      width: 26px;
      height: 26px;
      mask-image: url("../images/sprite.svg#favorite");
      background-color: #fff;
      mask-repeat: no-repeat;
      mask-size: cover;
      mask-position: center;
    }

    &--search {
      position: relative;
      padding-left: 32px;

      &::before {
        @include pseudo;
        width: 24px;
        height: 24px;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        mask-image: url("../images/sprite.svg#search-icon");
        background-color: #fff;
        mask-repeat: no-repeat;
        mask-size: cover;
        mask-position: center;
      }

    }

    &--phone {
      position: relative;
      padding-left: 27px;

      &::before {
        @include pseudo;
        width: 20px;
        height: 20px;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        mask-image: url("../images/sprite.svg#phone-icon");
        background-color: #fff;
        mask-repeat: no-repeat;
        mask-size: cover;
        mask-position: center;
      }

    }
  }

  &__btn {
    background-color: transparent;
    border-color: #fff;
    transition: background-color 0.5s ease-in-out;
  }
}