.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 20px 0;
  font-size: 18px;
  line-height: 1.2;
  color: #fff;
  z-index: 20;
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;

  @include mq("desktop-2") {
    font-size: 14px;
  }

  &.sticky {
    box-shadow: 0 6px 4px -4px rgba(0, 0, 0, .2);
  }

  &--whitetheme{
    background-color: #fff;
    color: $text;

    .logo__color {
      fill: $text;
    }

    .header__btn {
      background-color: $accent;
      border-color: transparent;
    }

    .location__button {
      color: $text;

      &::after {
        background-color: $text;
      }
    }

    .header__link {

      &--favor {
        background-color: $accent;
      }

      &--search::before,
      &--phone::before {
        background-color: $text;
      }

    }

    .header__burger {

      &::before,
      &::after {
        background-color: $text;
      }

    }

    .header__line {
      background-color: $text;
    }
  }

  &__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 60px;

    @include mq("desktop-2") {
      max-width: 1330px;
      margin: 0 auto;
      padding: 0 15px;
    }
  }

  &__left {
    display: flex;
    align-items: center;
  }

  &__center {

    @include mq("tablet") {
      display: none;
    }
  }

  &__center,
  &__right {

    .header__link:not(:last-child) {
      margin-right: 30px;

      @include mq("desktop") {
        margin-right: 10px;
      }
    }
  }

  &__right {
    display: flex;
    align-items: center;

    @include mq("tablet") {
      margin-left: auto;
    }
  }

  &__logo {
    margin-right: 40px;

    @include mq("tablet-2") {
      margin-right: 15px;
    }

    svg {

      @include mq("desktop-2") {
        height: 24px;
        width: 134px;
      }

      @include mq("phone") {
        height: 22px;
        width: 123px;
      }
    }

  }

  &__location {
    margin-right: 25px;

    @include mq("tablet-2") {
      margin-right: 10px;
    }

    @include mq("phone") {
      display: none;
    }
  }

  &__link {
    display: inline-block;
    transition: background-color 0.5s ease-in-out;

    &--favor {
      width: 26px;
      height: 26px;
      mask-image: url("../images/sprite.svg#favorite");
      background-color: #fff;
      mask-repeat: no-repeat;
      mask-size: cover;
      mask-position: center;

      @include mq("phone") {
        display: none;
      }
    }

    &--search {
      position: relative;
      padding-left: 32px;

      @include mq("desktop") {
        font-size: 0;
      }

      &::before {
        @include pseudo;
        width: 24px;
        height: 24px;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        mask-image: url("../images/sprite.svg#search-icon");
        background-color: #fff;
        mask-repeat: no-repeat;
        mask-size: cover;
        mask-position: center;
      }

    }

    &--phone {
      position: relative;
      padding-left: 27px;

      @include mq("tablet-2") {
        font-size: 0;
      }

      &::before {
        @include pseudo;
        width: 20px;
        height: 20px;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        mask-image: url("../images/sprite.svg#phone-icon");
        background-color: #fff;
        mask-repeat: no-repeat;
        mask-size: cover;
        mask-position: center;
      }

    }
  }

  &__btn {
    background-color: transparent;
    border-color: #fff;
    transition: background-color 0.5s ease-in-out;

    @include mq("desktop-2") {
      font-size: 14px;
    }

    @include mq("phone") {
      display: none;
    }
  }

  &__burger {
    background-color: transparent;
    padding: 0;
    border: none;
    outline: none;
    cursor: pointer;
    position: relative;
    z-index: 3;
    margin: 0 7px 0 20px;
    display: none;

    @include mq ('tablet') {
      display: block;
    }

    @include mq('phone') {
      margin-left: 16px;
    }
  }

  &__burger::after,
  &__burger::before {
    content: '';
    width: 22px;
    height: 2px;
    background-color: #fff;
    border-radius: 4px;
    display: block;
    margin-bottom: 7px;
    transition: transform .3s;
  }

  &__burger::after {
    margin-bottom: 0;
  }

  &__line {
    background-color: #fff;
    display: block;
    width: 22px;
    height: 2px;
    margin-bottom: 7px;
    border-radius: 4px;
    opacity: 1;
    transition: opacity .6s;
  }

}