.hero {
  height: 100vh;
  background-image: url('../images/hero-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @include mq("phone") {
    text-align: center;
    background-image: url('../images/hero-mobile-bg.png');
    height: calc(100vh - 130px);
  }

  &__inner {
    padding-top: 222px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__content {
    max-width: 680px;
    color: #fff;

    @include mq("desktop-2") {
      margin-right: 20px;
    }

    @include mq("desktop") {
      max-width: 530px;
    }
  }

  &__form {
    margin-right: 80px;
    margin-top: 20px;

    @include mq("desktop-2") {
      margin-right: 110px;
    }

    @include mq("desktop") {
      margin-right: 0;
    }

    @include mq ("tablet-2") {
      display: none;
    }
  }

  &__title {
    font-family: 'Raleway', 'Arial', sans-serif;
    font-weight: 800;
    font-size: 60px;
    line-height: 1.4;
    letter-spacing: 0.02em;
    margin-bottom: 30px;

    @include mq("desktop-2") {
      font-size: 56px;
    }

    @include mq("desktop") {
      font-size: 46px;
    }

    @include mq("phone") {
      font-size: 40px;
      margin-bottom: 22px;
    }
  }

  &__text {
    max-width: 470px;
    font-size: 25px;
    line-height: 1.5;
    margin-bottom: 90px;

    @include mq("desktop-2") {
      font-size: 22px;
    }

    @include mq("desktop") {
      font-size: 20px;
    }

    @include mq("phone") {
      display: none;

    }

    p:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &__selections {
    position: relative;
    max-width: 660px;
    margin-bottom: 80px;

    @include mq("desktop-2") {
      margin-bottom: 70px;
    }

    @include mq("phone") {
      display: none;
    }
  }

  &__social {
    width: 205px;

    @include mq("phone") {
      display: none;
    }
  }

  &__mobiletext {
    display: none;
    font-size: 18px;
    margin-bottom: 50px;
    line-height: 1.5;

    @include mq("phone") {
      display: block;
    }
  }

  &__mobilebtn {
    padding: 13px 30px 15px;
    display: none;
    width: 100%;

    @include mq("phone") {
      display: inline-block;
    }
  }

  .hero-slider {
    max-width: 560px;
    margin: 0 50px;

    &__wrapper {
      position: relative;

      &::after {
        @include pseudo;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: 16px;
        background-color: rgba(#121626, 0.2);
        z-index: 2;
      }
    }

    &__img {
      border-radius: 16px;
    }

    &__link {
      display: block;
    }
  }

  .swiper-button-prev,
  .swiper-button-next {

    width: 30px;
    height: 30px;
    top: 65px;
    right: 0;

    &::after {
      content: '';
      width: 10px;
      height: 16px;
      background-image: url("../images/sprite.svg#chevron-next");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
  }

  .swiper-button-prev {
    left: 0;
    transform: rotate(180deg);
  }
}