.product {
  padding-top: 170px;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
  }

  &__title {
    margin-right: 50px;
  }

  &__address {
    font-size: 25px;
    line-height: 1.2;
  }

  &__share,
  &__favor {
    width: 30px;
    height: 30px;
    mask-repeat: no-repeat;
    mask-size: cover;
    mask-position: center;
    background-color: $accent;
  }

  &__share {
    mask-image: url("../images/sprite.svg#share-icon");
    margin-left: auto;
    margin-right: 18px;
  }

  &__favor {
    mask-image: url("../images/sprite.svg#favorite");
  }

  &__gallery {
    position: relative;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    gap: 10px;
  }

  &__img {

    &:first-child {
      grid-row: span 2;
      border-radius: 20px 0 0 20px;
    }

    &:nth-child(3) {
      border-top-right-radius: 20px;
    }

    &:nth-child(5) {
      border-bottom-right-radius: 20px;
    }
  }

  &__links {
    position: absolute;
    bottom: 0;
    left: 0;
  }
}