.reviews {
  margin-bottom: 200px;

  @include mq("desktop-2") {
    margin-bottom: 150px;
  }

  @include mq("tablet-2") {
    margin-bottom: 100px;
  }

  &__title {
    font-size: 24px;
    margin-bottom: 80px;
  }

  &__wrapper {
    position: relative;
  }

  &__img {
    max-width: 320px;
    width: 100%;
    border-radius: 20px;
    object-fit: cover;
  }

  &__slider {
    padding-bottom: 50px;
  }

  .swiper-button-prev,
  .swiper-button-next {
    width: 40px;
    height: 40px;

    @include mq("desktop-2") {
      width: 30px;
      height: 30px;
      background-color: #fff;
      border-radius: 50%;
    }

    &::after {
      content: '';
      width: 40px;
      height: 46px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;

      @include mq("desktop-2") {
        width: 24px;
        height: 24px;
      }
    }
  }

  .swiper-button-prev {
    left: -60px;

    @include mq("desktop-2") {
      left: 22px;
    }

    &::after {
      background-image: url("../images/sprite.svg#arrow-left-icon");
    }
  }

  .swiper-button-next {
    right: -60px;

    @include mq("desktop-2") {
      right: 22px;
    }

    &::after {
      background-image: url("../images/sprite.svg#arrow-right-icon");
    }
  }

  .swiper-pagination {
    bottom: 0;
  }

  .swiper-pagination-bullet {
    margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 6px);
    background-color: #E5E5E5;
    opacity: 1;
  }

  .swiper-pagination-bullet-active {
    background-color: $accent;
  }
}