.selections {
  display: none;
  margin-bottom: 100px;

  @include mq("phone") {
    display: block;
  }

  &__title {
    margin-bottom: 40px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px 22px;
  }
}