<section class="about">
  <div class="about__bg">
    <img src="images/about-bg.png" alt="полупрозрачный дом" width="1192" height="1040">
  </div>
  <div class="container">
    <h2 class="about__title title">О нас</h2>

    <ul class="about__list">
      <li class="about__item about__item--work">
        <p class="about__text">
          Работаем с юридическими  и физическими лицами
        </p>
      </li>
      <li class="about__item about__item--benefit">
        <p class="about__text">
          Бесплатный подбор, честные консультации и открытость к сотрудничеству
        </p>
      </li>
      <li class="about__item about__item--support">
        <p class="about__text">
          Работаем с 2014 года. Консультируем 30-80 человек в сутки, заселяем от 3 до 5 компаний в день. Помогли более 21 000 клиентам
        </p>
      </li>
      <li class="about__item about__item--rating">
        <p class="about__text">
          Средний рейтинг компании 4,5 из 5 (OLX, Google)
        </p>
      </li>
    </ul>
  </div>
</section>