<nav class="bottom-menu">
  <div class="container">
    <ul class="bottom-menu__list">
      <li class="bottom-menu__item">
        <a class="bottom-menu__link bottom-menu__link--active bottom-menu__link--main" href="#">
          Главная
        </a>
      </li>
      <li class="bottom-menu__item">
        <a class="bottom-menu__link bottom-menu__link--catalog" href="./catalog.html">
          Каталог
        </a>
      </li>
      <li class="bottom-menu__item">
        <a class="bottom-menu__link bottom-menu__link--map" href="#">
          Карта
        </a>
      </li>
      <li class="bottom-menu__item">
        <a class="bottom-menu__link bottom-menu__link--favor" href="#">
          Избранное
        </a>
      </li>
    </ul>
  </div>
</nav>