<section class="catalog">
  <div class="container-fluid">
    <div class="catalog__inner">
      <ul class="catalog__list">

        <li class="catalog__item">
          <article class="house-card house-card--extend">
            <span class="house-card__capacity">до 30</span>
            <div class="house-card__box">
              <img class="house-card__img" src="images/content/house2.jpg" alt="дом №2" width="440" height="300">
              <input class="house-card__input" type="checkbox" id="houseCardFavor2">
              <label class="house-card__label" for="houseCardFavor2">
              </label>
            </div>
            <div class="house-card__content">
              <h3 class="house-card__title title">
                <a class="house-card__link" href="#">
                  Новая сосновка
                </a>
                <span class="house-card__address">Столичное шоссе 24</span>
              </h3>
              <div class="house-card__inner">
                <ul class="house-card__info">
                  <li class="house-card__item house-card__item--bed"> 
                    5 спальных мест
                  </li>
      
                  <li class="house-card__item house-card__item--tennis">
                    Настольный теннис
                  </li>
      
                  <li class="house-card__item house-card__item--bath">
                    Баня
                  </li>
      
                  <li class="house-card__item house-card__item--pool">
                    Бассейн
                  </li>
                </ul>
                
                <ul class="house-card__price">
                  <li class="house-card__cell">
                    <span class="house-card__day">Будни</span>
                    <span class="house-card__value">от 2000 грн.</span>
                  </li>
        
                  <li class="house-card__cell">
                    <span class="house-card__day">Пятница</span>
                    <span class="house-card__value">от 2 500 грн.</span>
                  </li>
        
                  <li class="house-card__cell">
                    <span class="house-card__day">Суббота</span>
                    <span class="house-card__value">от 3 000 грн</span>
                  </li>
        
                  <li class="house-card__cell">
                    <span class="house-card__day">Воскресенье</span>
                    <span class="house-card__value">от 3 000 грн.</span>
                  </li>
                  
                </ul>
              </div>
              
              <div class="house-card__bottom">
                <a class="house-card__map" href="#">Показать на карте</a>
                <a class="house-card__detail" href="./product.html">Подробнее</a>
              </div>
      
            </div>
          </article>
        </li>

        <li class="catalog__item">
          <article class="house-card house-card--extend">
            <span class="house-card__capacity">до 9</span>
            <div class="house-card__box">
              <img class="house-card__img" src="images/content/house3.jpg" alt="дом №2" width="440" height="300">
              <input class="house-card__input" type="checkbox" id="houseCardFavor2">
              <label class="house-card__label" for="houseCardFavor2">
              </label>
            </div>
            <div class="house-card__content">
              <h3 class="house-card__title title">
                <a class="house-card__link" href="#">
                  Ярославско-Дмитровское шоссе 4
                </a>
              </h3>
              <div class="house-card__inner">
                <ul class="house-card__info">
                  <li class="house-card__item house-card__item--bed"> 
                    5 спальных мест
                  </li>
      
                  <li class="house-card__item house-card__item--tennis">
                    Настольный теннис
                  </li>
      
                  <li class="house-card__item house-card__item--bath">
                    Баня
                  </li>
      
                  <li class="house-card__item house-card__item--pool">
                    Бассейн
                  </li>
                </ul>
                
              </div>
              
              <div class="house-card__bottom">
                <span class="house-card__cost">от 3 000 грн </span>
                <a class="house-card__map" href="#">Показать на карте</a>
                <a class="house-card__detail" href="./product.html">Подробнее</a>
              </div>
      
            </div>
          </article>
        </li>

        <li class="catalog__item">
          <article class="house-card house-card--extend">
            <span class="house-card__capacity">до 35</span>
            <div class="house-card__box">
              <img class="house-card__img" src="images/content/house4.jpg" alt="дом №2" width="440" height="300">
              <input class="house-card__input" type="checkbox" id="houseCardFavor2">
              <label class="house-card__label" for="houseCardFavor2">
              </label>
            </div>
            <div class="house-card__content">
              <h3 class="house-card__title title">
                <a class="house-card__link" href="#">
                  Горки-Сухаревские 1
                </a>
                <span class="house-card__address">Столичное шоссе 24</span>
              </h3>
              <div class="house-card__inner">
                <ul class="house-card__info">
                  <li class="house-card__item house-card__item--bed"> 
                    5 спальных мест
                  </li>
      
                  <li class="house-card__item house-card__item--tennis">
                    Настольный теннис
                  </li>
      
                  <li class="house-card__item house-card__item--bath">
                    Баня
                  </li>
      
                  <li class="house-card__item house-card__item--pool">
                    Бассейн
                  </li>
                </ul>
                
                <ul class="house-card__price">
                  <li class="house-card__cell">
                    <span class="house-card__day">Будни</span>
                    <span class="house-card__value">от 8000 грн.</span>
                  </li>
        
                  <li class="house-card__cell">
                    <span class="house-card__day">Пятница</span>
                    <span class="house-card__value">от 10 000 грн.</span>
                  </li>
        
                  <li class="house-card__cell">
                    <span class="house-card__day">Суббота</span>
                    <span class="house-card__value">от 12 000 грн</span>
                  </li>
        
                  <li class="house-card__cell">
                    <span class="house-card__day">Воскресенье</span>
                    <span class="house-card__value">от 12 000 грн.</span>
                  </li>
                  
                </ul>
              </div>
              
              <div class="house-card__bottom">
                <a class="house-card__map" href="#">Показать на карте</a>
                <a class="house-card__detail" href="./product.html">Подробнее</a>
              </div>
      
            </div>
          </article>
        </li>
        
        <li class="catalog__item">
          <article class="house-card house-card--extend">
            <span class="house-card__capacity">до 30</span>
            <div class="house-card__box">
              <img class="house-card__img" src="images/content/house1.jpg" alt="дом №2" width="440" height="300">
              <input class="house-card__input" type="checkbox" id="houseCardFavor2">
              <label class="house-card__label" for="houseCardFavor2">
              </label>
            </div>
            <div class="house-card__content">
              <h3 class="house-card__title title">
                <a class="house-card__link" href="#">
                  Салмачи 1
                </a>
                <span class="house-card__address">Столичное шоссе 24</span>
              </h3>
              <div class="house-card__inner">
                <ul class="house-card__info">
                  <li class="house-card__item house-card__item--bed"> 
                    5 спальных мест
                  </li>
      
                  <li class="house-card__item house-card__item--tennis">
                    Настольный теннис
                  </li>
      
                  <li class="house-card__item house-card__item--bath">
                    Баня
                  </li>
      
                  <li class="house-card__item house-card__item--pool">
                    Бассейн
                  </li>
                </ul>
                
                <ul class="house-card__price">
                  <li class="house-card__cell">
                    <span class="house-card__day">Будни</span>
                    <span class="house-card__value">от 2000 грн.</span>
                  </li>
        
                  <li class="house-card__cell">
                    <span class="house-card__day">Пятница</span>
                    <span class="house-card__value">от 2 500 грн.</span>
                  </li>
        
                  <li class="house-card__cell">
                    <span class="house-card__day">Суббота</span>
                    <span class="house-card__value">от 3 000 грн</span>
                  </li>
        
                  <li class="house-card__cell">
                    <span class="house-card__day">Воскресенье</span>
                    <span class="house-card__value">от 3 000 грн.</span>
                  </li>
                  
                </ul>
              </div>
              
              <div class="house-card__bottom">
                <a class="house-card__map" href="#">Показать на карте</a>
                <a class="house-card__detail" href="./product.html">Подробнее</a>
              </div>
      
            </div>
          </article>
        </li>
      </ul>
      <div id="map"></div>
    </div>
    
  </div>
</section>