<div class="filters">
  <div class="container-fluid">
    <ul class="filters__list">
      <li class="filters__item">
        <button class="filters__btn filters__btn--price">Цена</button>
        <div class="price-popup popup">

          <input type="text" class="price-popup__range" value="" />
          <div class="price-popup__box">
            <label class="price-popup__label price-popup__label--from">
              мин. цена
              <input type="text" class="price-popup__input--from price-popup__input" value="0" />
            </label>
            <label class="price-popup__label price-popup__label--to">
              макс. цена
              <input type="text" class="price-popup__input--to price-popup__input" value="0" />
            </label>
          </div>


          <button class="price-popup__btn btn">Сохранить</button>
        </div>
      </li>
      <li class="filters__item filters__item--date">
        <input class="filters__input datepicker-min" type="text" name="bookinkDateMin" id="fromDate" placeholder="От">
        <input class="filters__input datepicker-max" type="text" name="bookinkDateMax" id="toDate" placeholder="До">
      </li>
      <li class="filters__item filters__item--pool">
        <button class="filters__btn filters__btn--pool">С бассейном</button>

        <div class="waterpool-popup popup">
          <ul class="waterpool-popup__list">
            <li class="waterpool-popup__item">
              <article class="checkbox">
                <input class="checkbox__input" id="summer-pool" type="checkbox" name="summer-pool">
                <label class="checkbox__label" for="summer-pool">летний</label>
              </article>

            </li>

            <li class="waterpool-popup__item">
              <article class="checkbox">
                <input class="checkbox__input" id="inside-pool" type="checkbox" name="inside-pool">
                <label class="checkbox__label" for="inside-pool">внутренний</label>
              </article>

            </li>

            <li class="waterpool-popup__item">
              <article class="checkbox">
                <input class="checkbox__input" id="font-pool" type="checkbox" name="font-pool">
                <label class="checkbox__label" for="font-pool">купель</label>
              </article>

            </li>
          </ul>
          <button class="waterpool-popup__btn btn">Сохранить</button>
        </div>
      </li>
      <li class="filters__item filters__item--entertainment">
        <button class="filters__btn filters__btn--entertainment">Развлечения</button>
        <div class="entertainment-popup popup">
          <ul class="entertainment-popup__list">
            <li class="entertainment-popup__item">

              <article class="checkbox">
                <input class="checkbox__input" id="sauna" type="checkbox" name="sauna">
                <label class="checkbox__label" for="sauna">сауна или баня (без веников)</label>
              </article>

            </li>

            <li class="entertainment-popup__item">

              <article class="checkbox">
                <input class="checkbox__input" id="russian-bath" type="checkbox" name="russian-bath">
                <label class="checkbox__label" for="russian-bath">русская баня на дровах</label>
              </article>

            </li>

            <li class="entertainment-popup__item">

              <article class="checkbox">
                <input class="checkbox__input" id="hammam" type="checkbox" name="hammam">
                <label class="checkbox__label" for="hammam">хаммам</label>
              </article>

            </li>

            <li class="entertainment-popup__item">

              <article class="checkbox">
                <input class="checkbox__input" id="billiard" type="checkbox" name="billiard">
                <label class="checkbox__label" for="billiard">бильярд</label>
              </article>

            </li>

            <li class="entertainment-popup__item">

              <article class="checkbox">
                <input class="checkbox__input" id="table-tennis" type="checkbox" name="table-tennis">
                <label class="checkbox__label" for="table-tennis">настольный теннис</label>
              </article>

            </li>
          </ul>
          <button class="entertainment-popup__btn btn">Сохранить</button>
        </div>

      </li>
      <li class="filters__item">
        <button class="filters__btn filters__btn--bedplace">Спальни и спальные места</button>
        <div class="bedplace-popup popup">
          <div class="bedplace-popup__box">
            <label class="bedplace-popup__label">
              Количество спален
              <input class="bedplace-popup__input" type="number" value="3" min="1">
            </label>
            <label class="bedplace-popup__label">
              Количество спальных мест
              <input class="bedplace-popup__input" type="number" value="14" min="1">
            </label>
          </div>

          <button class="bedplace-popup__btn btn">Сохранить</button>
        </div>

      </li>
      <li class="filters__item">
        <button class="filters__btn filters__btn--selection">Подборки</button>
        <div class="selection-popup popup">
          <ul class="selection-popup__list">
            <li class="selection-popup__item">
              <label class="toggle">
                <input type="checkbox">
                <div class="slider round"></div>
                <span>С бассейном</span>
              </label>
            </li>
            <li class="selection-popup__item">
              <label class="toggle">
                <input type="checkbox">
                <div class="slider round"></div>
                <span>Семейные и уютные</span>
              </label>
            </li>
            <li class="selection-popup__item">
              <label class="toggle">
                <input type="checkbox">
                <div class="slider round"></div>
                <span>Хиты продаж</span>
              </label>
            </li>
            <li class="selection-popup__item">
              <label class="toggle">
                <input type="checkbox">
                <div class="slider round"></div>
                <span>Под свадьбы и корпоративы</span>
              </label>
            </li>
            <li class="selection-popup__item">
              <label class="toggle">
                <input type="checkbox">
                <div class="slider round"></div>
                <span>С русской баней на дровах</span>
              </label>
            </li>
          </ul>

        </div>
      </li>
      <li class="filters__item filters__item--link">
        <a class="filters__link btn" href="#">Заявка на подбор</a>
      </li>
      <li class="filters__item filters__item--filter">
        <button class="filters__btn filters__btn--filter">Фильтр</button>

        <div class="filter-popup popup">
          <form class="filter-popup__form" action="#">
            <ul class="filter-popup__list">
              <li class="filter-popup__item type-of-house">
                <h2 class="filter-popup__title title">Тип жилья</h2>

                <ul class="type-of-house__list">
                  <li class="type-of-house__item">

                    <article class="checkbox">
                      <input class="checkbox__input" id="uniq-house" type="checkbox" name="uniq-house">
                      <label class="checkbox__label" for="uniq-house">Уникальное жилье</label>
                    </article>

                  </li>

                  <li class="type-of-house__item">

                    <article class="checkbox">
                      <input class="checkbox__input" id="log-house" type="checkbox" name="log-house">
                      <label class="checkbox__label" for="log-house">Дом из бруса</label>
                    </article>

                  </li>

                  <li class="type-of-house__item">

                    <article class="checkbox">
                      <input class="checkbox__input" id="town-house" type="checkbox" name="town-house">
                      <label class="checkbox__label" for="town-house">Таунхаус</label>
                    </article>

                  </li>

                  <li class="type-of-house__item">

                    <article class="checkbox">
                      <input class="checkbox__input" id="cottage" type="checkbox" name="cottage">
                      <label class="checkbox__label" for="cottage">Коттедж</label>
                    </article>

                  </li>

                  <li class="type-of-house__item">

                    <article class="checkbox">
                      <input class="checkbox__input" id="chalet" type="checkbox" name="chalet">
                      <label class="checkbox__label" for="chalet">Шале</label>
                    </article>

                  </li>

                  <li class="type-of-house__item">

                    <article class="checkbox">
                      <input class="checkbox__input" id="villa" type="checkbox" name="villa">
                      <label class="checkbox__label" for="villa">Вилла</label>
                    </article>

                  </li>

                  <li class="type-of-house__item">

                    <article class="checkbox">
                      <input class="checkbox__input" id="loft" type="checkbox" name="loft">
                      <label class="checkbox__label" for="loft">Лофт</label>
                    </article>

                  </li>
                </ul>
              </li>
              <li class="filter-popup__item locations">
                <h2 class="filter-popup__title title">Расположение</h2>

                <ul class="locations__list">
                  <li class="locations__item">

                    <article class="checkbox">
                      <input class="checkbox__input" id="in-city" type="checkbox" name="in-city">
                      <label class="checkbox__label" for="in-city">В городе</label>
                    </article>

                  </li>

                  <li class="locations__item">

                    <article class="checkbox">
                      <input class="checkbox__input" id="in-country" type="checkbox" name="in-country">
                      <label class="checkbox__label" for="in-country">За городом</label>
                    </article>

                  </li>
                </ul>
              </li>
              <li class="filter-popup__item comfort">
                <h2 class="filter-popup__title title">Удобства</h2>

                <ul class="comfort__list">
                  <li class="comfort__item">

                    <article class="checkbox">
                      <input class="checkbox__input" id="comfort1" type="checkbox" name="comfort1">
                      <label class="checkbox__label" for="comfort1">Wi-Fi</label>
                    </article>

                  </li>

                  <li class="comfort__item">

                    <article class="checkbox">
                      <input class="checkbox__input" id="comfort2" type="checkbox" name="comfort2">
                      <label class="checkbox__label" for="comfort2">Бассейн с подогревом</label>
                    </article>

                  </li>

                  <li class="comfort__item">

                    <article class="checkbox">
                      <input class="checkbox__input" id="comfort3" type="checkbox" name="comfort3">
                      <label class="checkbox__label" for="comfort3">Детская площадка</label>
                    </article>

                  </li>

                  <li class="comfort__item">

                    <article class="checkbox">
                      <input class="checkbox__input" id="comfort4" type="checkbox" name="comfort4">
                      <label class="checkbox__label" for="comfort4">Спортивная площадка</label>
                    </article>

                  </li>

                  <li class="comfort__item">

                    <article class="checkbox">
                      <input class="checkbox__input" id="comfort5" type="checkbox" name="comfort5">
                      <label class="checkbox__label" for="comfort5">Близость к водоему</label>
                    </article>

                  </li>

                  <li class="comfort__item">

                    <article class="checkbox">
                      <input class="checkbox__input" id="comfort6" type="checkbox" name="comfort6">
                      <label class="checkbox__label" for="comfort6">Закрытая парковка</label>
                    </article>

                  </li>

                  <li class="comfort__item">

                    <article class="checkbox">
                      <input class="checkbox__input" id="comfort7" type="checkbox" name="comfort7">
                      <label class="checkbox__label" for="comfort7">Место для выездной регистрации</label>
                    </article>

                  </li>

                  <li class="comfort__item">

                    <article class="checkbox">
                      <input class="checkbox__input" id="comfort8" type="checkbox" name="comfort8">
                      <label class="checkbox__label" for="comfort8">Сцена для артистов</label>
                    </article>

                  </li>

                  <li class="comfort__item">

                    <article class="checkbox">
                      <input class="checkbox__input" id="comfort9" type="checkbox" name="comfort9">
                      <label class="checkbox__label" for="comfort9">Игровая приствка</label>
                    </article>

                  </li>

                  <li class="comfort__item">

                    <article class="checkbox">
                      <input class="checkbox__input" id="comfort10" type="checkbox" name="comfort10">
                      <label class="checkbox__label" for="comfort10">Камин</label>
                    </article>

                  </li>
                </ul>
              </li>
              <li class="filter-popup__item condition">
                <h2 class="filter-popup__title title">Условия</h2>

                <ul class="condition_list">
                  <li class="condition__item">

                    <article class="checkbox">
                      <input class="checkbox__input" id="condition1" type="checkbox" name="condition1">
                      <label class="checkbox__label" for="condition1">Все включено (нет обязательных дополнительных плат)</label>
                    </article>

                  </li>

                  <li class="condition__item">

                    <article class="checkbox">
                      <input class="checkbox__input" id="condition2" type="checkbox" name="condition2">
                      <label class="checkbox__label" for="condition2">Сдается на 1-ни сутки в выходные!</label>
                    </article>

                  </li>
                  <li class="condition__item">

                    <article class="checkbox">
                      <input class="checkbox__input" id="condition3" type="checkbox" name="condition3">
                      <label class="checkbox__label" for="condition3">Разрешено курение кальяна в доме</label>
                    </article>

                  </li>
                  <li class="condition__item">

                    <article class="checkbox">
                      <input class="checkbox__input" id="condition4" type="checkbox" name="condition4">
                      <label class="checkbox__label" for="condition4">Разрешены вечеринки</label>
                    </article>

                  </li>
                  <li class="condition__item">

                    <article class="checkbox">
                      <input class="checkbox__input" id="condition5" type="checkbox" name="condition5">
                      <label class="checkbox__label" for="condition5">Можно парится вениками</label>
                    </article>

                  </li>
                </ul>
              </li>
            </ul>
            <button type="reset" class="filter-popup__reset">Сбросить фильтры</button>
            <button type="button" class="filter-popup__close"><span class="sr-only">закрыть</span></button>
          </form>

        </div>
      </li>
    </ul>
  </div>
</div>