<section class="hero">
  <div class="container">
    <div class="hero__inner">
      <div class="hero__content">
        <h1 class="hero__title">
          Аренда коттеджей и домов в Киеве
        </h1>
        <div class="hero__text">
          <p>Найдите идеальный вариант сами или предоставьте это нам</p>
        </div>

        <div class="hero__mobiletext">
          <p>Давайте вам что-нибудь подберём</p>
        </div>

        <button class="hero__mobilebtn btn">Заявка на подбор</button>

        <div class="hero__selections">
          <div class="swiper hero-slider">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <a class="hero-slider__link" href="#">
                  <div class="hero-slider__wrapper">
                    <img class="hero-slider__img" src="images/selections/1.jpg" alt="С бассейном">
                  </div>
                  <span class="hero-slider__title">С бассейном</span>
                </a>
              </div>
              <div class="swiper-slide">
                <a class="hero-slider__link" href="#">
                  <div class="hero-slider__wrapper">
                    <img class="hero-slider__img" src="images/selections/2.jpg" alt="Семейные и уютные">
                  </div>
                  <span class="hero-slider__title">Семейные и уютные</span>
                </a>
              </div>
              <div class="swiper-slide">
                <a class="hero-slider__link" href="#">
                  <div class="hero-slider__wrapper">
                    <img class="hero-slider__img" src="images/selections/3.jpg" alt="Хиты продаж">
                  </div>
                  <span class="hero-slider__title">Хиты продаж</span>
                </a>
              </div>
              <div class="swiper-slide">
                <a class="hero-slider__link" href="#">
                  <div class="hero-slider__wrapper">
                    <img class="hero-slider__img" src="images/selections/4.jpg" alt="С бассейном">
                  </div>
                  <span class="hero-slider__title">Под свадьбы и корпоративы</span>
                </a>
              </div>
              <div class="swiper-slide">
                <a class="hero-slider__link" href="#">
                  <div class="hero-slider__wrapper">
                    <img class="hero-slider__img" src="images/selections/5.jpg" alt="С бассейном">
                  </div>
                  <span class="hero-slider__title">С русской баней на дровах</span>
                </a>
              </div>
            </div>
          </div>
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
        </div>

        <ul class="hero__social social-list">

          <li class="social-list__item">
            <a class="social-list__link" href="#" style="-webkit-mask-image: url('images/sprite.svg#youtube');">
              <span class="sr-only">youtube канал</span>
            </a>
          </li>

          <li class="social-list__item">
            <a class="social-list__link" href="#" style="-webkit-mask-image: url('images/sprite.svg#instagram');">
              <span class="sr-only">instagram страница</span>
            </a>
          </li>

          <li class="social-list__item">
            <a class="social-list__link" href="#" style="-webkit-mask-image: url('images/sprite.svg#whatsapp');">
              <span class="sr-only">whatsapp</span>
            </a>
          </li>

          <li class="social-list__item">
            <a class="social-list__link" href="#" style="-webkit-mask-image: url('images/sprite.svg#telegram');">
              <span class="sr-only">telegram канал</span>
            </a>
          </li>

        </ul>
      </div>
      <form class="hero__form booking-form" action="#">

        <label class="booking-form__label" for="fromDate">Въезд</label>
        <label class="booking-form__label booking-form__label--maxdate" for="toDate">Отъезд</label>

        <div class="booking-form__wrapper">
          <input class="booking-form__input datepicker-min" type="text" name="bookinkDateMin" id="fromDate"
            placeholder="От">
          <input class="booking-form__input datepicker-max" type="text" name="bookinkDateMax" id="toDate"
            placeholder="До">
        </div>

        <label class="booking-form__label">
          Количество человек
          <input class="booking-form__number" type="number" name="countPeople" id="" placeholder="12">
        </label>

        <input class="booking-form__range" type="text" name="rangePrice" value="">

        <button class="booking-form__btn btn">Найти</button>

      </form>
    </div>
  </div>
</section>