<section class="popular">
  <div class="container">
    <h2 class="popular__title title">
      Популярное в каталоге
    </h2>

    <ul class="popular__list">
      <li class="potular__item">
        <article class="house-card">
          <div class="house-card__box">
            <img class="house-card__img" src="images/content/house1.jpg" alt="дом №1" width="440" height="300">
            <span class="house-card__capacity">до 30</span>
            <input class="house-card__input" type="checkbox" id="houseCardFavor" checked>
            <label class="house-card__label" for="houseCardFavor">
            </label>
          </div>
          <div class="house-card__content">
            <h3 class="house-card__title title">
              <a class="house-card__link" href="#">
                Новая сосновка
              </a>
            </h3>
            <ul class="house-card__info">
              <li class="house-card__item house-card__item--bed">
                5 спальных мест
              </li>
              <li class="house-card__item house-card__item--tennis">
                Настольный теннис
              </li>
              <li class="house-card__item house-card__item--bath">
                Баня
              </li>
              <li class="house-card__item house-card__item--pool">
                Бассейн
              </li>
            </ul>
            <div class="house-card__cost">от 3 000 грн / сутки </div>
            <a class="house-card__detail" href="#">Подробнее</a>
          </div>
        </article>
      </li>
      <li class="potular__item">
        <article class="house-card">
          <div class="house-card__box">
            <img class="house-card__img" src="images/content/house2.jpg" alt="дом №2" width="440" height="300">
            <span class="house-card__capacity">до 9</span>
            <input class="house-card__input" type="checkbox" id="houseCardFavor" checked>
            <label class="house-card__label" for="houseCardFavor">
            </label>
          </div>
          <div class="house-card__content">
            <h3 class="house-card__title title">
              <a class="house-card__link" href="#">
                Салмачи 1
              </a>
            </h3>
            <ul class="house-card__info">
              <li class="house-card__item house-card__item--bed">
                5 спальных мест
              </li>
              <li class="house-card__item house-card__item--tennis">
                Настольный теннис
              </li>
              <li class="house-card__item house-card__item--bath">
                Баня
              </li>
              <li class="house-card__item house-card__item--pool">
                Бассейн
              </li>
            </ul>
            <div class="house-card__cost">от 3 000 грн / сутки </div>
            <a class="house-card__detail" href="#">Подробнее</a>
          </div>
        </article>
      </li>
      <li class="potular__item">
        <article class="house-card">
          <div class="house-card__box">
            <img class="house-card__img" src="images/content/house3.jpg" alt="дом №3" width="440" height="300">
            <span class="house-card__capacity">до 30</span>
            <input class="house-card__input" type="checkbox" id="houseCardFavor" checked>
            <label class="house-card__label" for="houseCardFavor">
            </label>
          </div>
          <div class="house-card__content">
            <h3 class="house-card__title title">
              <a class="house-card__link" href="#">
                Новая сосновка
              </a>
            </h3>
            <ul class="house-card__info">
              <li class="house-card__item house-card__item--bed">
                5 спальных мест
              </li>
              <li class="house-card__item house-card__item--tennis">
                Настольный теннис
              </li>
              <li class="house-card__item house-card__item--bath">
                Баня
              </li>
              <li class="house-card__item house-card__item--pool">
                Бассейн
              </li>
            </ul>
            <div class="house-card__cost">от 4 000 грн / сутки </div>
            <a class="house-card__detail" href="#">Подробнее</a>
          </div>
        </article>
      </li>
      <li class="potular__item">
        <article class="house-card">
          <div class="house-card__box">
            <img class="house-card__img" src="images/content/house4.jpg" alt="дом №4" width="440" height="300">
            <span class="house-card__capacity">до 30</span>
            <input class="house-card__input" type="checkbox" id="houseCardFavor" checked>
            <label class="house-card__label" for="houseCardFavor">
            </label>
          </div>
          <div class="house-card__content">
            <h3 class="house-card__title title">
              <a class="house-card__link" href="#">
                Новая сосновка
              </a>
            </h3>
            <ul class="house-card__info">
              <li class="house-card__item house-card__item--bed">
                5 спальных мест
              </li>
              <li class="house-card__item house-card__item--tennis">
                Настольный теннис
              </li>
              <li class="house-card__item house-card__item--bath">
                Баня
              </li>
              <li class="house-card__item house-card__item--pool">
                Бассейн
              </li>
            </ul>
            <div class="house-card__cost">от 3 000 грн / сутки </div>
            <a class="house-card__detail" href="#">Подробнее</a>
          </div>
        </article>
      </li>
      <li class="potular__item">
        <article class="house-card">
          <div class="house-card__box">
            <img class="house-card__img" src="images/content/house5.jpg" alt="дом №5" width="440" height="300">
            <span class="house-card__capacity">до 14</span>
            <input class="house-card__input" type="checkbox" id="houseCardFavor" checked>
            <label class="house-card__label" for="houseCardFavor">
            </label>
          </div>
          <div class="house-card__content">
            <h3 class="house-card__title title">
              <a class="house-card__link" href="#">
                Новая сосновка
              </a>
            </h3>
            <ul class="house-card__info">
              <li class="house-card__item house-card__item--bed">
                5 спальных мест
              </li>
              <li class="house-card__item house-card__item--tennis">
                Настольный теннис
              </li>
              <li class="house-card__item house-card__item--bath">
                Баня
              </li>
              <li class="house-card__item house-card__item--pool">
                Бассейн
              </li>
            </ul>
            <div class="house-card__cost">от 2 500 грн / сутки </div>
            <a class="house-card__detail" href="#">Подробнее</a>
          </div>
        </article>
      </li>
      <li class="potular__item">
        <article class="house-card">
          <div class="house-card__box">
            <img class="house-card__img" src="images/content/house6.jpg" alt="дом №6" width="440" height="300">
            <span class="house-card__capacity">до 8</span>
            <input class="house-card__input" type="checkbox" id="houseCardFavor" checked>
            <label class="house-card__label" for="houseCardFavor">
            </label>
          </div>
          <div class="house-card__content">
            <h3 class="house-card__title title">
              <a class="house-card__link" href="#">
                Новая сосновка
              </a>
            </h3>
            <ul class="house-card__info">
              <li class="house-card__item house-card__item--bed">
                5 спальных мест
              </li>
              <li class="house-card__item house-card__item--tennis">
                Настольный теннис
              </li>
              <li class="house-card__item house-card__item--bath">
                Баня
              </li>
              <li class="house-card__item house-card__item--pool">
                Бассейн
              </li>
            </ul>
            <div class="house-card__cost">от 1 500 грн / сутки </div>
            <a class="house-card__detail" href="#">Подробнее</a>
          </div>
        </article>
      </li>
    </ul>

    <a class="popular__link btn" href="#">Перейти в каталог</a>
  </div>
</section>