<section class="product">
  <div class="container">
    <div class="product__wrapper">
      <header class="product__header">
        <h1 class="product__title title">Горки-Сухаревские 1</h1>
        <p class="product__address">Столичное шоссе 4</p>
        <button class="product__share"><span class="sr-only">Поделиться</span></button>
        <button class="product__favor">
          <svg class="product__svg">
            <use id="product-favourite" xlink:href="images/sprite.svg#favorite"></use>
          </svg>
          <span class="sr-only">Добавить в избранное</span>
        </button>
      </header>
      <div class="product__gallery">
        <img class="product__img" src="images/product/product-1.jpg" alt="" width="695">
        <img class="product__img" src="images/product/product-2.jpg" alt="" width="350">
        <img class="product__img" src="images/product/product-3.jpg" alt="" width="335">
        <img class="product__img" src="images/product/product-4.jpg" alt="" width="350">
        <img class="product__img" src="images/product/product-5.jpg" alt="" width="335">
        <div class="product__links">
          <a class="product__link product__link--more" href="">Смотреть больше фото</a>
          <a class="product__link product__link--video" href="https://www.youtube.com/watch?v=MGrQa4ElR8M"
            data-fancybox>Смотреть видео</a>
        </div>
      </div>
    </div>
    

    <div class="product__inner">
      <section class="product__info">
        <div class="product__feature feature">
          <h2 class="feature__title product__subtitle title">Информация о доме</h2>
          <ul class="feature__list">
            <li class="feature__item">
              <span class="feature__name">Тип жилья</span>
              <span class="feature__value">Уникальное жилье</span>
            </li>

            <li class="feature__item">
              <span class="feature__name">Этажи</span>
              <span class="feature__value">2 этажа</span>
            </li>

            <li class="feature__item">
              <span class="feature__name">Площадь</span>
              <span class="feature__value">234 м<sup>2</sup></span>
            </li>

            <li class="feature__item">
              <span class="feature__name">Участок</span>
              <span class="feature__value">12 соток</span>
            </li>
          </ul>

          <ul class="feature__bedplace bedplace">
            <li class="bedplace__item">
              25 спальных мест
            </li>

            <li class="bedplace__item">
              5 спален
            </li>

            <li class="bedplace__item bedplace__item--people">
              до 35 человек
            </li>
          </ul>
        </div>

        <h2 class="product__subtitle title">Описание</h2>
        <div class="product__descr">
          <p>На территории большой паркинг на 5-8 авто, лобное место (кострище), беседка на 30-40 человек.
          </p>
          <p>Внутри дома банкетный зал до 40 человек, кухня, сауна, большой бассейн с подогревом 3*8 метров , глубина
            1.6 метра, русский бильярд 10 футов.</p>
          <p>В доме есть TV, Wi-Fi, музыкальный центр с колонками, на втором этаже 4 спальни.</p>
          <p>Всего в доме 18 спальных мест и 40 мест по банкетному залу.
            Курение кальяна только в зоне бассейна.</p>
        </div>

        <h2 class="product__subtitle title">Дополнительные платы</h2>
        <ul class="product__payment">
          <li>Казан (1 шт) - 100 грн.</li>
          <li>Шампура (5 шт) - 80 грн.</li>
          <li>Решетка (1 шт) - 90 грн</li>
          <li>Повторное включение сауны (3 ч.) - 700 грн.</li>
          <li>Резиновые тапки (аренда) - 20грн./1 шт.</li>
          <li>Уголь - 100 грн.</li>
          <li>Розжиг - 30 грн.</li>
        </ul>

        <h2 class="product__subtitle title">Важная информация</h2>
        <div class="product__important">
          <p><sup>*</sup>Залог принимают только наличными.</p>
        </div>

        <h2 class="product__subtitle title">Время заезда и выезда</h2>
        <div class="product__time">
          <time>17:00</time>
          <time>15:00</time>
        </div>
      </section>
      <section class="product__price price">
        <h2 class="product__subtitle price__title title">Стоимость</h2>

        <ul class="price__list">
          <li class="price__item">
            <ul class="price__days">
              <li class="price__day">
                <span class="price__name">Будни</span>
                <span class="price__value">2500 грн</span>
              </li>
              <li class="price__day">
                <span class="price__name">Пятница</span>
                <span class="price__value">3000 грн</span>
              </li>
              <li class="price__day">
                <span class="price__name">Залог</span>
                <span class="price__value">800 грн</span>
              </li>
              <li class="price__day">
                <span class="price__name">Суббота</span>
                <span class="price__value">4000 грн</span>
              </li>
              <li class="price__day">
                <span class="price__name">Воскресенье</span>
                <span class="price__value">4000 грн</span>
              </li>
            </ul>
          </li>

          <li class="price__item price__item--weekend">
            <span class="price__name">Полные выходные (ПТ-ВС)</span>
            <span class="price__value">4000 грн</span>
          </li>

          <li class="price__item">
            <span class="price__name">Новый год (2 дня)</span>
            <span class="price__value">32 000 грн</span>
          </li>

          <li class="price__item">
            <span class="price__name">Январские празднкии (сутки)</span>
            <span class="price__value">от 10 000 грн</span>
          </li>
        </ul>
        <ul class="price__btns">
          <li class="price__box">
            <a class="price__btn price__btn--call btn" href="tel:380674443322">Позвонить</a>
          </li>

          <li class="price__box">
            <a class="price__btn btn" href="#">Информация для юр. лиц</a>
          </li>

          <li class="price__box">
            <button class="price__btn btn">Написать</button>
          </li>

          <li class="price__box">
            <a class="price__btn btn" href="#">Выездное обслуживание</a>
          </li>
        </ul>
      </section>
    </div>

    <div class="video-map-container">
      <div class="product__video">
        <a class="product__play" href="https://www.youtube.com/watch?v=MGrQa4ElR8M" data-fancybox><span
            class="sr-only">Запустить видео</span></a>
      </div>
      <div class="product__map">
        <div id="map-product"></div>
      </div>
    </div>
  </div>
</section>