<section class="product">
  <div class="container">
    <header class="product__header">
      <h1 class="product__title title">Горки-Сухаревские 1</h1>
      <p class="product__address">Столичное шоссе 4</p>
      <button class="product__share"><span class="sr-only">Поделиться</span></button>
      <button class="product__favor"><span class="sr-only">Добавить в избранное</span></button>
    </header>
    <div class="product__gallery">
      <img class="product__img" src="images/product/product-1.jpg" alt="" width="695">
      <img class="product__img" src="images/product/product-2.jpg" alt="" width="350">
      <img class="product__img" src="images/product/product-3.jpg" alt="" width="335">
      <img class="product__img" src="images/product/product-4.jpg" alt="" width="350">
      <img class="product__img" src="images/product/product-5.jpg" alt="" width="335">
      <div class="product__links">
        <a class="product__link product__link--more" href="">Смотреть больше фото</a>
        <a class="product__link product__link--video" href="">Смотреть видео</a>
      </div>
      
    </div>
  </div>
</section>