<section class="product">
  <div class="container">
    <header class="product__header">
      <h1 class="product__title title">Горки-Сухаревские 1</h1>
      <p class="product__address">Столичное шоссе 4</p>
      <button class="product__share"><span class="sr-only">Поделиться</span></button>
      <button class="product__favor"><span class="sr-only">Добавить в избранное</span></button>
    </header>
    <div class="product__gallery">
      <img class="product__img" src="images/product/product-1.jpg" alt="" width="695">
      <img class="product__img" src="images/product/product-2.jpg" alt="" width="350">
      <img class="product__img" src="images/product/product-3.jpg" alt="" width="335">
      <img class="product__img" src="images/product/product-4.jpg" alt="" width="350">
      <img class="product__img" src="images/product/product-5.jpg" alt="" width="335">
      <div class="product__links">
        <a class="product__link product__link--more" href="">Смотреть больше фото</a>
        <a class="product__link product__link--video" href="">Смотреть видео</a>
      </div>
    </div>

    <div class="product__inner">
      <section class="product__info">
        <div class="product__feature feature">
          <h2 class="feature__title title">Информация о доме</h2>
          <ul class="feature__list">
            <li class="feature__item">
              <span class="feature__name">Тип жилья</span>
              <span class="feature__value">Уникальное жилье</span>
            </li>

            <li class="feature__item">
              <span class="feature__name">Этажи</span>
              <span class="feature__value">2 этажа</span>
            </li>

            <li class="feature__item">
              <span class="feature__name">Площадь</span>
              <span class="feature__value">234 м<sup>2</sup></span>
            </li>

            <li class="feature__item">
              <span class="feature__name">Участок</span>
              <span class="feature__value">12 соток</span>
            </li>
          </ul>

          <ul class="feature__bedplace bedplace">
            <li class="bedplace__item">
              25 спальных мест
            </li>

            <li class="bedplace__item">
              5 спален
            </li>

            <li class="bedplace__item bedplace__item--people">
              до 35 человек
            </li>
          </ul>
        </div>

        <h2 class="product__subtitle title">Описание</h2>
        <div class="product__descr">
          <p>На территории большой паркинг на 5-8 авто, лобное место (кострище), беседка на 30-40 человек.
          </p>
          <p>Внутри дома банкетный зал до 40 человек, кухня, сауна, большой бассейн с подогревом 3*8 метров , глубина 1.6 метра, русский бильярд 10 футов.</p>
          <p>В доме есть TV, Wi-Fi, музыкальный центр с колонками, на втором этаже 4 спальни.</p>
          <p>Всего в доме 18 спальных мест и 40 мест по банкетному залу.
            Курение кальяна только в зоне бассейна.</p>
        </div>

        <h2 class="product__subtitle title">Дополнительные платы</h2>
        <ul class="product__payment">
          <li>Казан (1 шт) - 100 грн.</li>
          <li>Шампура (5 шт) - 80 грн.</li>
          <li>Решетка (1 шт) - 90 грн</li>
          <li>Повторное включение сауны (3 ч.) - 700 грн.</li>
          <li>Резиновые тапки (аренда) - 20грн./1 шт.</li>
          <li>Уголь - 100 грн.</li>
          <li>Розжиг - 30 грн.</li>
        </ul> 
        
        <h2 class="product__subtitle title">Важная информация</h2>
        <div class="product__important">
          <p><sup>*</sup>Залог принимают только наличными.</p>
        </div>

        <h2 class="product__subtitle title">Время заезда и выезда</h2>
        <div class="product__time">
          <time>17:00</time>
          <time>15:00</time>
        </div>
      </section>
      <section class="product__price">d</section>
    </div>
  </div>
</section>