<section class="question">
  <div class="container">
    <h2 class="question__title title">
      Частые вопросы
    </h2>

    <ul class="question__list">

      <li class="question__item">
        <input class="question__input" type="checkbox" checked>
        <i class="question__icon"></i>
        <h3 class="question__name">Как происходит бронирование?</h3>
        <p class="question__answer">Бронирование происходит после внесения предоплаты 50% от суммы аренды,
          предварительно можно приезать на осмотр дома или провести онлайн показ (при наличии такой возможности).</p>
      </li>

      <li class="question__item">
        <input class="question__input" type="checkbox">
        <i class="question__icon"></i>
        <h3 class="question__name">Какая сумма предоплаты нужна?</h3>
        <p class="question__answer">Стандарт предоплаты 50% от суммы аренды, если сумма аренды большая, то можно
          уменьшить предоплату до 30%.</p>
      </li>

      <li class="question__item">
        <input class="question__input" type="checkbox" checked>
        <i class="question__icon"></i>
        <h3 class="question__name">Можно ли разбить предоплату на несколько частей?</h3>
        <p class="question__answer">Можно, по возможности можно сделать все. В каждом случае нужно общаться
          индивидуально как с клиентом, так и с собственником.</p>
      </li>

      <li class="question__item">
        <input class="question__input" type="checkbox" checked>
        <i class="question__icon"></i>
        <h3 class="question__name">Как работаете с юр.лицами?</h3>
        <p class="question__answer">У нас открыто ЧП и мы можем предложить заключить с нами агентский договор, на
          основании которого мы забронируем за Вами коттедж и пример оплату за дом на наш расчётный счёт. Более детально
          уточняйте у менеджера.</p>
      </li>

      <li class="question__item">
        <input class="question__input" type="checkbox" checked>
        <i class="question__icon"></i>
        <h3 class="question__name">Можно ли приехать на просмотр?</h3>
        <p class="question__answer">Да, любой дом можно посмотреть.</p>
      </li>

      <li class="question__item">
        <input class="question__input" type="checkbox" checked>
        <i class="question__icon"></i>
        <h3 class="question__name">Какое время заезда и выезда в дом и есть ли возможность сдвинуть заезд или выезд?
        </h3>
        <p class="question__answer">У каждого дома свой фиксированный заезд и выезд (указано в карточке товара),
          сдвинуть сроки реально, нужно обговаривать индивидуально.</p>
      </li>

      <li class="question__item">
        <input class="question__input" type="checkbox" checked>
        <i class="question__icon"></i>
        <h3 class="question__name">Зачем нужен залог?</h3>
        <p class="question__answer">Залог берётся администрацией коттеджа только во время заселения в дом и возвращается
          при выезде из коттеджа. Сумма залога и штраф лист указаны в договоре аренды.
        </p>
      </li>
      
      <li class="question__item">
        <input class="question__input" type="checkbox" checked>
        <i class="question__icon"></i>
        <h3 class="question__name">Сколько стоят в Ваши услуги?</h3>
        <p class="question__answer">Мы находимся с цене собственника и получаем комиссию только после вашего отдыха. Мы
          не накручиваем больше от цены и отдельно нам Вы ничего не платите.</p>
      </li>

    </ul>
  </div>
</section>