<section class="reviews">
  <div class="container">
    <h2 class="reviews__title title">Отзывы</h2>
    <div class="reviews__wrapper">
      <div class="swiper reviews__slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img class="reviews__img" src="images/reviews/review-1.jpg" alt="">
          </div>
          <div class="swiper-slide">
            <img class="reviews__img" src="images/reviews/review-1.jpg" alt="">
          </div>
          <div class="swiper-slide">
            <img class="reviews__img" src="images/reviews/review-1.jpg" alt="">
          </div>
          <div class="swiper-slide">
            <img class="reviews__img" src="images/reviews/review-1.jpg" alt="">
          </div>
          <div class="swiper-slide">
            <img class="reviews__img" src="images/reviews/review-1.jpg" alt="">
          </div>
        </div>
        <div class="swiper-pagination"></div>

      </div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </div>

</section>