<section class="selections">
  <div class="container">
    <h2 class="selections__title title">Подборки</h2>
    <ul class="selections__list">
      <li class="selections__item">
        <article class="selection-card">
          <a class="selection-card__link" href="#">
            <div class="selection-card__wrapper">
              <img class="selection-card__img" src="images/selections/1.jpg" alt="С бассейном">
            </div>
            <span class="selection-card__title">С бассейном</span>
          </a>
        </article>
      </li>
      <li class="selections__item">
        <article class="selection-card">
          <a class="selection-card__link" href="#">
            <div class="selection-card__wrapper">
              <img class="selection-card__img" src="images/selections/2.jpg" alt="Семейные и уютные">
            </div>
            <span class="selection-card__title">Семейные и уютные</span>
          </a>
        </article>
      </li>
      <li class="selections__item">
        <article class="selection-card">
          <a class="selection-card__link" href="#">
            <div class="selection-card__wrapper">
              <img class="selection-card__img" src="images/selections/3.jpg" alt="Хиты продаж">
            </div>
            <span class="selection-card__title">Хиты продаж</span>
          </a>
        </article>
      </li>
      <li class="selections__item">
        <article class="selection-card">
          <a class="selection-card__link" href="#">
            <div class="selection-card__wrapper">
              <img class="selection-card__img" src="images/selections/4.jpg" alt="С бассейном">
            </div>
            <span class="selection-card__title">Под свадьбы и корпоративы</span>
          </a>
        </article>
      </li>
      <li class="selections__item">
        <article class="selection-card">
          <a class="selection-card__link" href="#">
            <div class="selection-card__wrapper">
              <img class="selection-card__img" src="images/selections/5.jpg" alt="С бассейном">
            </div>
            <span class="selection-card__title">С русской баней на дровах</span>
          </a>
        </article>
      </li>
    </ul>
  </div>
</section>