<section class="service">
  <div class="service__bg">
    <img class="service__img" src="images/service-bg.png" alt="Полупрозрачный дом" width="1476" height="1041">
  </div>
  <div class="container">
    <h2 class="service__title title">Можем организовать для Вас</h2>
    <ul class="service__list">
      <li class="service__item">
        <svg class="service__pic">
          <use xlink:href="images/sprite.svg#buffet-icon"></use>
        </svg>
        <span class="service__name">Кейтеринг</span>
      </li>
      <li class="service__item">
        <svg class="service__pic">
          <use xlink:href="images/sprite.svg#chef-icon"></use>
        </svg>
        <span class="service__name">Выездной повар</span>
      </li>
      <li class="service__item">
        <svg class="service__pic">
          <use xlink:href="images/sprite.svg#cocktail-icon"></use>
        </svg>
        <span class="service__name">Фуршет</span>
      </li>
      <li class="service__item">
        <svg class="service__pic">
          <use xlink:href="images/sprite.svg#confetti-icon"></use>
        </svg>
        <span class="service__name">Шоу программа</span>
      </li>
      <li class="service__item">
        <svg class="service__pic">
          <use xlink:href="images/sprite.svg#transfer-icon"></use>
        </svg>
        <span class="service__name">Трансфер</span>
      </li>
      <li class="service__item">
        <svg class="service__pic">
          <use xlink:href="images/sprite.svg#microphone-icon"></use>
        </svg>
        <span class="service__name">Мероприятия под ключ</span>
      </li>
    </ul>

    <a class="service__link btn" href="#">Узнать подробнее</a>
  </div>
</section>