.bedplace-popup {

  &.active {
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    transform: translate3d(0, 0, 0);
    visibility: visible;
    opacity: 1;
  }

  &__box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
  }

  &__label {
    font-size: 14px;
    line-height: 1.2;
    color: #727488;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &:first-child {
      margin-right: 15px;
    }
  }



  .jq-number {
    position: relative;
    margin-top: 10px;
  }

  .jq-number__field input {
    width: 120px;
    padding: 8px 0;
    font-size: 16px;
    line-height: 1.5;
    background-color: #fff;
    border: 1px solid #C0C2D7;
    border-radius: 200px;
    text-align: center;
    color: $text;
    outline: 0;
    
  }

  .jq-number__spin {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 0;
    cursor: pointer;

    &::after {
      @include pseudo;
      width: 24px;
      height: 24px;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .minus {
    border-radius: 3px 0px 0px 3px;

    &::after {
      background-image: url('../images/sprite.svg#minus-icon');
    }

  }

  .plus {
    right: 0;
    border-radius: 0px 3px 3px 0px;

    &::after {
      background-image: url('../images/sprite.svg#plus-icon');
    }
  }

}