.filter-popup {
  padding: 40px 30px 70px 40px;
  right: 0;
  left: auto;

  &.active {
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    transform: translate3d(0, 0, 0);
    visibility: visible;
    opacity: 1;
  }

  &__title {
    font-size: 22px;
    line-height: 1.5;
    margin-bottom: 20px;
  }

  &__item {

    &:not(:last-child) {
      margin-bottom: 50px;
    }
  }

  &__reset {
    position: absolute;
    top: 46px;
    right: 84px;
    font-size: 14px;
    line-height: 1.5;
    color: #727488;
    text-decoration: underline;
  }

  &__close {
    position: absolute;
    top: 40px;
    right: 30px;
    width: 34px;
    height: 34px;
    mask-image: url("../images/sprite.svg#close-icon");
    mask-position: center;
    mask-size: cover;
    mask-repeat: no-repeat;
    background-color: #727488;
  }

  .type-of-house {

    &__list {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      row-gap: 8px;
    }

  }

  .comfort {

    &__list {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 8px 20px;
    }
  }

}