.waterpool-popup {

  &.active {
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    transform: translate3d(0, 0, 0);
    visibility: visible;
    opacity: 1;
  }

  &__list {
    margin-bottom: 30px;
  }

  &__item {

    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }

}